  {% load static %}
  <!-- Receipe Post Search -->
  <div class="receipe-post-search mb-80">
    <div class="container">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <select name="select1" id="select1">
                        <option value="1">Comida típica brasileira</option>
                        <option value="1">Massas</option>
                        <option value="1">Veganas</option>
                    </select>
                </div>
                <div class="col-12 col-lg-2 text-right">
                    <button type="submit" class="btn delicious-btn">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
